In [36]:
%load_ext sql
%sql sqlite:///olap.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

u'Connected: None@olap.db'

<h1>OLAP and Cubes Activity</h1>

<h1>1 Data and Motivation</h1>
<p>You're given a bunch of data on search queries by users. (We can pretend that these users are Google search users and you are an engineer on the Google Web Search team). You want to analyze the number of search queries made, who they are made by, and how successful your search engine is at returning a result that people want to click on. A particular user can only make one query at a time.</p>
<p>Below is a table called raw_search_log containing details of search queries.</p>

<p>raw_search_log</p>
<table>
<tr>
    <th>Field</th>
    <th>Type</th>
    <th>Description</th>
</tr>
<tr>
    <td>user_id</td>
    <td>INTEGER</td>
    <td>ID of the user that made the search.</td>
</tr>
<tr>
    <td>timestamp</td>
    <td>TIMESTAMP</td>
    <td>Time at which the search occurred. A particular
user_id can only make a single query at a given
timestamp.</td>
</tr>
<tr>
    <td>query</td>
    <td>VARCHAR(500)</td>
    <td>Search query (text typed into the search bar).</td>
</tr>
<tr>
    <td>rank</td>
    <td>INTEGER</td>
    <td>The rank of the search result they clicked on (how
high it appears in the results). This is NULL if they
never clicked on a result.</td>
</tr>
<tr>
    <td>click_url</td>
    <td>VARCHAR(200)</td>
    <td>The URL of the search result they clicked on. This is
NULL if they never clicked on a result.</td>
</tr>
<tr>
    <td>city</td>
    <td>VARCHAR(50)</td>
    <td>The location of the user (is constant for a given user).</td>
</tr>
<tr>
    <td>age</td>
    <td>INTEGER</td>
    <td>The age of the user (is constant for a given user).</td>
</tr>
</table>

<h1>2 OLAP Database Design</h1>
<p>We will split up the attributes of the raw data schema into a star schema with 2 dimension tables
(users_dim, dates_dim), and a fact table (searches_fact). Design the star schema.</p>

<center>users_dim</center>
<table>
<tr>
    <td>user_id</td>
    <td>INTEGER</td>
</tr>
<tr>
    <td>city</td>
    <td>VARCHAR(50)</td>
</tr>
<tr>
    <td>age</td>
    <td>INTEGER</td>
</tr>
</table>
<center>User information.</center>
<br/>

<center>searches_fact</center>
<table>
<tr>
    <td>user_id</td>
    <td>INTEGER</td>
</tr>
<tr>
    <td>timestamp</td>
    <td>TIMESTAMP</td>
</tr>
<tr>
    <td>query</td>
    <td>VARCHAR(500)</td>
</tr>
<tr>
    <td>rank</td>
    <td>INTEGER</td>
</tr>
<tr>
    <td>click_url</td>
    <td>VARCHAR(200)</td>
</tr>
</table>
<center>Search queries that were performed
(who, when, what).</center>
<br/>

<center>dates_dim</center>
<table>
<tr>
    <td>timestamp</td>
    <td>TIMESTAMP</td>
</tr>
<tr>
    <td>date</td>
    <td>DATE</td>
</tr>
<tr>
    <td>hour</td>
    <td>INTEGER</td>
</tr>
<tr>
    <td>is_weekend</td>
    <td>BOOLEAN</td>
</tr>
</table>
<center>Date/time information on
search queries.</center>
<br/>

<p>
1. Write the CREATE TABLE statement for users_dim. Don't forget about the primary key!
</p>

In [37]:
%%sql
drop table if exists users_dim;
create table users_dim(
    user_id INTEGER primary key,
    city VARCHAR(50),
    age INTEGER
);

Done.
Done.

[]

<p>2. Write the CREATE TABLE statement for dates_dim. This table contains attributes not found in the raw schema because we want to be able to do more detailed analysis on the data. Don't forget about the primary key!</p>

In [38]:
%%sql
drop table if exists dates_dim;
create table dates_dim(
    timestamp TIMESTAMP primary key,
    date DATE,
    hour INTEGER,
    is_weekend BOOLEAN
)

Done.
Done.

[]

<p>3. Write the CREATE TABLE statement for searches_fact. Don't forget about foreign keys into the dimension tables and the primary key. (If you forgot the FOREIGN KEY syntax, take a look at Lecture 5: Design Theory3 from the course website).</p>

In [39]:
%%sql
drop table if exists searches_fact;
create table searches_fact(
    user_id INTEGER,
    timestamp TIMESTAMP,
    query VARCHAR(500),
    rank INTEGER,
    click_url VARCHAR(200),
    primary key (user_id, timestamp),
    foreign key (user_id) references users_dim(user_id),
    foreign key (timestamp) references dates_dim(timestamp)
)

Done.
Done.

[]

<p>Discussion Why did we design it this way? What kind of queries might we be able to do with this schema design?</p>

<h1>3 Populating Tables</h1>
<p>After designing the tables, we need to populate them with data from raw_search_log in order to do our analysis!</p>
<p>Example. Populate the users_dim table with an INSERT...SELECT statement. [18250 rows ]</p>

In [40]:
%%sql
INSERT INTO users_dim (user_id, city, age)
SELECT DISTINCT user_id, city, age
FROM raw_search_log;

18250 rows affected.

[]

<p>
1. Populate the dates_dim table with an INSERT...SELECT statement. [28138 rows ]
</p>
<ul>
<li>You must extract the date (using the DATE function on the timestamp field) and hour of day
(using the EXTRACT function) from timestamp. The documentation for EXTRACT is here4 and
the syntax is EXTRACT(<field> FROM timestamp).
</li>
<li>
You must figure out whether or not the date is a weekend. Look at the EXTRACT function
again. You will want to use a CASE statement.
</li>
</ul>

In [41]:
%%sql
INSERT INTO dates_dim (timestamp, date, hour, is_weekend)
SELECT DISTINCT timestamp, DATE(timestamp), strftime('%H', timestamp), strftime('%w', timestamp)=='0' or strftime('%w', timestamp)=='6'
FROM raw_search_log;

28138 rows affected.

[]

<p>
2. Write an INSERT...SELECT statement to populate the searches_fact table. [28195 rows ]
</p>

In [42]:
%%sql
INSERT INTO searches_fact (user_id, timestamp, query, rank, click_url)
SELECT DISTINCT user_id, timestamp, query, rank, click_url
FROM raw_search_log;

28195 rows affected.

[]

<p>Discussion Think about how much work was required to set up the data for analysis. Compare this to NoSQL/Redis. How much design work did you have to do before analyzing the data?</p>
<p>What if you wanted to add a field source to denote where the user queried from (desktop, Android browser, Safari, etc.)? What would you have to do in SQL versus what you do in Redis? What if source were unknown? How would this be denoted in SQL versus Redis?</p>

<h1>4 OLAP Queries</h1>
<p>Now, we want to use our dimension and fact tables to analyze the data. We don't want to use raw_search_log as that would defeat the purpose of this exercise. NATURAL JOINs will come in handy and are easy to use by design of the schema.</p>
<p>Example. Find the number of queries performed by people between the ages of 18 and 25, ordered by age.</p>

In [43]:
%%sql
SELECT age, COUNT(query) AS num_queries
FROM users_dim NATURAL JOIN searches_fact
WHERE age BETWEEN 18 and 25 GROUP BY age ORDER BY age;

Done.

[(18, 707),
 (19, 743),
 (20, 651),
 (21, 691),
 (22, 730),
 (23, 715),
 (24, 672),
 (25, 545)]

<h2>Problems</h2>
<p>1. How many characters long are the search queries done by people at Stanford? Find the top 10 longest queries and their length for queries done by users in Stanford. LENGTH (documentation here6) and LIMIT (documentation here7) will be helpful. [Longest query is 255 characters ]</p>

In [44]:
%%sql
select length(s.query) as query_len, s.query
from users_dim as u natural join searches_fact as s
where u.city = 'Stanford'
order by length(s.query) desc
limit 10

Done.

[(255, u'phone numbers netherlandso&client pub-7240984912124482&forid 1&ie iso-8859-1&oe iso-8859-1&cof galt 3a 23008000 3bgl 3a1 3bdiv 3a 23336699 3bvlc 3a663399 3bah 3acenter 3bbgc 3affffff 3blbgc 3a336699 3balc 3a0000ff 3blc 3a0000ff 3bt 3a000000 3bgfnt 3a0000f'),
 (97, u'action guidpresentlogin&guid nhw1mxwrbythak9lsxlgze5dcziytvh5dvnuwctrqniycujlyq &logincode retail'),
 (64, u'william and mary summer history program for high school students'),
 (63, u'listen tolil wayne fat joe paul wall rick ross holla at me baby'),
 (63, u'reviews for some people some other place by j california cooper'),
 (62, u'how do i delete 360 sharepro from my system after uninstalling'),
 (62, u'windows 98 cd burning tools for burning audio images and video'),
 (59, u'why do christian husbands fall out of love with thier wives'),
 (58, u'how long does it take to download music if the speed is t3'),
 (57, u'sermon of the 20th century because he had reached ...http')]

<p>2. We want to get summary statistics on queries in each city. For each city, get the number of unique users and number of queries made. The result's schema should be (city, num_users, num_queries).</p>

In [45]:
%%sql
select city, count(distinct u.user_id) as num_users, count(s.query) as num_queries
from users_dim as u natural join searches_fact as s
group by u.city

Done.

[(u'Austin', 892, 1381),
 (u'Baltimore', 883, 1414),
 (u'Boston', 841, 1247),
 (u'Boulder', 873, 1388),
 (u'Cupertino', 863, 1311),
 (u'Dallas', 876, 1382),
 (u'Hillsdale', 842, 1340),
 (u'Las Vegas', 852, 1321),
 (u'Los Angeles', 865, 1257),
 (u'New York', 903, 1434),
 (u'Oldsville', 911, 1430),
 (u'Palo Alto', 836, 1316),
 (u'Pasadena', 847, 1315),
 (u'Philadelphia', 811, 1208),
 (u'Salt Lake City', 872, 1310),
 (u'San Bruno', 886, 1372),
 (u'San Francisco', 850, 1301),
 (u'San Jose', 868, 1308),
 (u'Santa Clara', 915, 1442),
 (u'Seattle', 899, 1358),
 (u'Stanford', 865, 1360)]

<p>3. Find the maximum length of search queries each day (not timestamp!) that returned a click_url (i.e. searches that resulted in a user clicking on a search result). We're interested in seeing if the search engine is getting better at returning results for queries, or if people are better at searching with shorter queries. The result should be of the form (date, max_query_length).</p>

In [46]:
%%sql
select date, max(length(s.query)) as max_query_length
from searches_fact as s natural join dates_dim as d
where click_url is not NULL
group by d.date

Done.

[(u'2006-03-01', 78),
 (u'2006-03-02', 76),
 (u'2006-03-03', 55),
 (u'2006-03-04', 41),
 (u'2006-03-05', 52),
 (u'2006-03-06', 52),
 (u'2006-03-07', 72),
 (u'2006-03-08', 48),
 (u'2006-03-09', 62),
 (u'2006-03-10', 61),
 (u'2006-03-11', 72),
 (u'2006-03-12', 62),
 (u'2006-03-13', 47),
 (u'2006-03-14', 46),
 (u'2006-03-15', 114),
 (u'2006-03-16', 106),
 (u'2006-03-17', 48),
 (u'2006-03-18', 43),
 (u'2006-03-19', 66),
 (u'2006-03-20', 43),
 (u'2006-03-21', 67),
 (u'2006-03-22', 105),
 (u'2006-03-23', 51),
 (u'2006-03-24', 62),
 (u'2006-03-25', 54),
 (u'2006-03-26', 61),
 (u'2006-03-27', 52),
 (u'2006-03-28', 51),
 (u'2006-03-29', 67),
 (u'2006-03-30', 58),
 (u'2006-03-31', 47),
 (u'2006-04-01', 51),
 (u'2006-04-02', 93),
 (u'2006-04-03', 65),
 (u'2006-04-04', 58),
 (u'2006-04-05', 43),
 (u'2006-04-06', 45),
 (u'2006-04-07', 96),
 (u'2006-04-08', 100),
 (u'2006-04-09', 53),
 (u'2006-04-10', 33),
 (u'2006-04-11', 47),
 (u'2006-04-12', 46),
 (u'2006-04-13', 7),
 (u'2006-04-14', 76),
 (u'2006-04-15', 50),
 (u'2006-04-16', 50),
 (u'2006-04-17', 43),
 (u'2006-04-18', 42),
 (u'2006-04-19', 51),
 (u'2006-04-20', 49),
 (u'2006-04-21', 48),
 (u'2006-04-22', 60),
 (u'2006-04-23', 56),
 (u'2006-04-24', 45),
 (u'2006-04-25', 43),
 (u'2006-04-26', 56),
 (u'2006-04-27', 49),
 (u'2006-04-28', 54),
 (u'2006-04-29', 41),
 (u'2006-04-30', 52),
 (u'2006-05-01', 179),
 (u'2006-05-02', 53),
 (u'2006-05-03', 52),
 (u'2006-05-04', 53),
 (u'2006-05-05', 42),
 (u'2006-05-06', 48),
 (u'2006-05-07', 82),
 (u'2006-05-08', 59),
 (u'2006-05-09', 71),
 (u'2006-05-10', 49),
 (u'2006-05-11', 49),
 (u'2006-05-12', 63),
 (u'2006-05-13', 46),
 (u'2006-05-14', 70),
 (u'2006-05-15', 66),
 (u'2006-05-16', 56),
 (u'2006-05-17', 5),
 (u'2006-05-18', 55),
 (u'2006-05-19', 79),
 (u'2006-05-20', 47),
 (u'2006-05-21', 63),
 (u'2006-05-22', 54),
 (u'2006-05-23', 46),
 (u'2006-05-24', 53),
 (u'2006-05-25', 62),
 (u'2006-05-26', 48),
 (u'2006-05-27', 56),
 (u'2006-05-28', 47),
 (u'2006-05-29', 49),
 (u'2006-05-30', 46),
 (u'2006-05-31', 48)]

<p>4. Find the bad kids! Write a query that returns the user_ids of users under the age of 18 who've made searches between the hours of 2 am and 7 am (hour values of 2 and 7), inclusive. [176 rows]
</p>

In [47]:
%%sql
select distinct u.user_id
from users_dim as u natural join searches_fact as s natural join dates_dim as d
where u.age < 18 and d.hour between 2 and 7

Done.

[(34760,),
 (118401,),
 (130832,),
 (134213,),
 (294499,),
 (323500,),
 (432273,),
 (436356,),
 (607103,),
 (629009,),
 (629678,),
 (642162,),
 (665552,),
 (697006,),
 (713363,),
 (723640,),
 (725386,),
 (728646,),
 (769214,),
 (901091,),
 (949915,),
 (1018256,),
 (1059857,),
 (1074662,),
 (1075515,),
 (1120527,),
 (1191534,),
 (1215865,),
 (1257114,),
 (1302385,),
 (1333755,),
 (1387740,),
 (1414230,),
 (1503582,),
 (1507102,),
 (1511546,),
 (1631478,),
 (1645295,),
 (1666711,),
 (1720282,),
 (1771959,),
 (1773682,),
 (1781341,),
 (1849593,),
 (1872934,),
 (1953242,),
 (2214149,),
 (2230235,),
 (2263443,),
 (2362920,),
 (2415348,),
 (2486730,),
 (2609659,),
 (2611015,),
 (2654106,),
 (2680083,),
 (2722825,),
 (2860272,),
 (2869025,),
 (2918843,),
 (2924313,),
 (2956237,),
 (2999047,),
 (3006082,),
 (3013487,),
 (3085030,),
 (3085738,),
 (3133162,),
 (3167309,),
 (3401566,),
 (3401958,),
 (3443382,),
 (3663531,),
 (3735655,),
 (3836136,),
 (4101177,),
 (4117398,),
 (4121202,),
 (4208969,),
 (4238199,),
 (4317576,),
 (4331546,),
 (4349288,),
 (4371472,),
 (4565446,),
 (4670197,),
 (4790292,),
 (4908239,),
 (4968761,),
 (5117021,),
 (5164146,),
 (5275826,),
 (5696195,),
 (5790732,),
 (5874400,),
 (5957300,),
 (5989789,),
 (6131499,),
 (6225348,),
 (6369791,),
 (6591337,),
 (6682099,),
 (6692776,),
 (6840450,),
 (6957897,),
 (7029080,),
 (7084639,),
 (7099966,),
 (7113433,),
 (7286661,),
 (7466834,),
 (7906623,),
 (8014758,),
 (8028746,),
 (8087581,),
 (8290555,),
 (8471929,),
 (8883653,),
 (8891028,),
 (9091614,),
 (9127305,),
 (9140662,),
 (9141455,),
 (9293563,),
 (9694474,),
 (9822447,),
 (10169896,),
 (10304011,),
 (10599929,),
 (10662837,),
 (10746135,),
 (10829191,),
 (11306857,),
 (11434968,),
 (11496063,),
 (11499587,),
 (11596991,),
 (11974125,),
 (12035063,),
 (12412132,),
 (12425923,),
 (12574253,),
 (13123382,),
 (13309113,),
 (13423802,),
 (13453510,),
 (13454940,),
 (13638841,),
 (14187495,),
 (14937753,),
 (14966265,),
 (15197418,),
 (15479692,),
 (15772842,),
 (16319991,),
 (16709443,),
 (16765980,),
 (17177475,),
 (17625043,),
 (18058560,),
 (18128590,),
 (18651654,),
 (19083829,),
 (19271583,),
 (19324370,),
 (19384392,),
 (19393967,),
 (19576890,),
 (20665096,),
 (20708531,),
 (21451648,),
 (21622203,),
 (23570694,),
 (23677306,),
 (23925121,),
 (23960644,)]

<h1>5 Discussion</h1>
<p>Think about these questions below and we will discuss it together as a class.</p>
<ul>
<li>Installation and setup-wise, what was easier to do in Redis?</li>
<li>What kind of analysis was easier to do in SQL?</li>
<li>What are some of the disadvantages or limitations of using SQL rather than Redis?</li>
</ul>

<h1>6 Bonus Problems (Extra Practice)</h1>
<p>Do these if you have extra time! This is not required as part of the activity.</p>
<p>1. Report number of queries and clicked websites viewed by each user in Palo Alto. The result should be of the form (user_id, num_queried, num_clicked). [First row of results is (281371, 2, 2) ]</p>

In [48]:
%%sql
select user_id, count(s.query) as num_queried, count(s.click_url) as num_clicked
from users_dim as u natural join searches_fact as s
where u.city = 'Palo Alto'
group by u.user_id

Done.

[(13379, 1, 0),
 (46669, 1, 0),
 (54537, 1, 1),
 (58965, 2, 1),
 (60847, 1, 1),
 (72710, 8, 6),
 (73450, 4, 2),
 (91602, 28, 18),
 (126937, 4, 4),
 (135796, 1, 1),
 (140705, 1, 0),
 (148409, 1, 1),
 (160273, 2, 1),
 (160891, 1, 0),
 (164361, 3, 1),
 (180467, 4, 0),
 (187850, 7, 6),
 (196851, 1, 0),
 (221978, 1, 0),
 (225652, 1, 1),
 (241790, 2, 1),
 (246218, 1, 0),
 (250277, 1, 0),
 (274531, 1, 1),
 (281371, 2, 2),
 (291525, 2, 1),
 (352160, 1, 0),
 (405196, 2, 0),
 (408068, 1, 0),
 (427439, 5, 1),
 (432866, 2, 1),
 (440513, 1, 0),
 (454176, 1, 1),
 (455286, 1, 1),
 (472676, 2, 2),
 (475597, 1, 0),
 (482905, 1, 1),
 (517142, 1, 0),
 (536335, 1, 0),
 (547061, 2, 0),
 (549858, 1, 1),
 (570045, 2, 1),
 (572841, 1, 0),
 (590532, 2, 0),
 (591606, 1, 0),
 (592433, 2, 1),
 (618461, 1, 0),
 (619023, 1, 0),
 (620022, 2, 1),
 (624086, 2, 0),
 (634527, 1, 0),
 (642862, 1, 0),
 (646134, 3, 3),
 (669531, 9, 8),
 (693071, 4, 3),
 (701195, 1, 1),
 (720162, 5, 3),
 (727174, 1, 0),
 (728646, 3, 3),
 (728654, 3, 0),
 (755357, 1, 0),
 (763570, 13, 8),
 (780701, 1, 1),
 (785582, 4, 2),
 (795653, 1, 1),
 (894727, 1, 0),
 (902525, 4, 1),
 (918464, 4, 2),
 (940229, 1, 0),
 (942453, 1, 0),
 (952170, 1, 0),
 (984046, 2, 1),
 (984889, 1, 1),
 (997174, 2, 0),
 (1010520, 1, 1),
 (1024650, 2, 0),
 (1043039, 1, 0),
 (1061727, 1, 0),
 (1104112, 1, 1),
 (1114609, 1, 0),
 (1122637, 1, 1),
 (1150672, 1, 0),
 (1165150, 1, 0),
 (1165243, 1, 1),
 (1183456, 3, 2),
 (1183634, 1, 1),
 (1191339, 1, 0),
 (1208149, 1, 0),
 (1209670, 7, 3),
 (1218424, 1, 0),
 (1265143, 2, 2),
 (1268323, 4, 3),
 (1283450, 2, 0),
 (1304931, 3, 1),
 (1307253, 1, 0),
 (1315134, 3, 1),
 (1324664, 1, 1),
 (1368242, 1, 1),
 (1395530, 1, 1),
 (1405566, 6, 4),
 (1430772, 1, 1),
 (1432692, 2, 0),
 (1458984, 1, 1),
 (1482777, 5, 4),
 (1484795, 1, 0),
 (1488712, 1, 0),
 (1495885, 1, 1),
 (1508908, 2, 1),
 (1511546, 1, 1),
 (1548579, 4, 3),
 (1550228, 1, 0),
 (1559456, 1, 0),
 (1567392, 2, 1),
 (1576757, 1, 0),
 (1589984, 1, 0),
 (1598356, 1, 0),
 (1614554, 1, 1),
 (1616313, 1, 1),
 (1619583, 2, 2),
 (1636337, 1, 1),
 (1694930, 1, 1),
 (1694951, 4, 1),
 (1701900, 1, 1),
 (1707739, 3, 3),
 (1711789, 3, 2),
 (1720016, 5, 5),
 (1724390, 1, 0),
 (1725724, 5, 4),
 (1727141, 1, 1),
 (1731838, 1, 0),
 (1745848, 1, 0),
 (1763873, 13, 7),
 (1768692, 1, 0),
 (1769818, 1, 0),
 (1781559, 1, 0),
 (1790091, 3, 1),
 (1799208, 4, 3),
 (1817140, 1, 1),
 (1818041, 1, 0),
 (1818433, 1, 0),
 (1823537, 1, 1),
 (1850091, 1, 0),
 (1858276, 2, 0),
 (1876245, 1, 0),
 (1890557, 1, 1),
 (1898515, 1, 1),
 (1904699, 1, 0),
 (1912452, 8, 6),
 (1951425, 1, 0),
 (1976558, 1, 0),
 (1977821, 1, 0),
 (1978071, 1, 1),
 (1990102, 2, 2),
 (1990121, 2, 1),
 (2022078, 2, 2),
 (2042210, 5, 3),
 (2050189, 4, 2),
 (2051334, 3, 2),
 (2056611, 1, 0),
 (2089103, 7, 2),
 (2090758, 1, 0),
 (2094594, 2, 0),
 (2140948, 5, 3),
 (2160851, 2, 2),
 (2161453, 1, 0),
 (2173033, 1, 0),
 (2178336, 1, 0),
 (2181219, 6, 6),
 (2205121, 1, 0),
 (2209786, 1, 0),
 (2221874, 3, 3),
 (2222714, 8, 6),
 (2243840, 1, 0),
 (2249504, 2, 1),
 (2253542, 3, 0),
 (2264967, 1, 0),
 (2293010, 4, 2),
 (2300204, 1, 0),
 (2332952, 1, 0),
 (2341909, 1, 1),
 (2344556, 1, 1),
 (2364958, 3, 1),
 (2371395, 1, 0),
 (2396789, 1, 0),
 (2397228, 1, 1),
 (2415769, 6, 5),
 (2433392, 1, 0),
 (2437599, 1, 0),
 (2496874, 3, 1),
 (2499330, 2, 2),
 (2548631, 1, 1),
 (2549707, 1, 0),
 (2558320, 1, 1),
 (2569125, 1, 0),
 (2583283, 2, 1),
 (2603120, 1, 1),
 (2639317, 3, 1),
 (2664112, 2, 2),
 (2694807, 1, 1),
 (2699839, 1, 1),
 (2703018, 3, 3),
 (2741488, 3, 3),
 (2750952, 1, 0),
 (2765721, 4, 3),
 (2786286, 1, 1),
 (2790911, 1, 1),
 (2819573, 2, 1),
 (2820297, 1, 1),
 (2845968, 3, 3),
 (2846780, 19, 15),
 (2854759, 1, 0),
 (2877256, 2, 1),
 (2880102, 2, 1),
 (2884879, 3, 1),
 (2895123, 3, 1),
 (2897445, 1, 1),
 (2926375, 2, 0),
 (2929115, 1, 1),
 (2960476, 1, 1),
 (2971722, 1, 1),
 (2993795, 1, 0),
 (2999667, 1, 0),
 (3005281, 1, 0),
 (3008345, 1, 1),
 (3017795, 4, 2),
 (3036827, 1, 1),
 (3037304, 1, 0),
 (3071657, 19, 18),
 (3080625, 1, 1),
 (3107412, 1, 1),
 (3133162, 3, 3),
 (3140395, 1, 0),
 (3156951, 1, 0),
 (3162221, 14, 7),
 (3176412, 3, 1),
 (3190314, 1, 0),
 (3193798, 2, 1),
 (3201445, 2, 1),
 (3229142, 3, 3),
 (3254007, 2, 2),
 (3287581, 1, 1),
 (3297611, 1, 0),
 (3342269, 1, 0),
 (3348777, 1, 0),
 (3351044, 1, 0),
 (3361239, 2, 1),
 (3390518, 1, 1),
 (3398757, 1, 0),
 (3400517, 1, 1),
 (3414840, 1, 1),
 (3443193, 1, 1),
 (3450610, 3, 2),
 (3454914, 2, 1),
 (3462616, 1, 0),
 (3472076, 1, 0),
 (3494565, 2, 1),
 (3496937, 1, 1),
 (3507733, 1, 1),
 (3510313, 1, 1),
 (3510828, 1, 1),
 (3557719, 1, 1),
 (3559307, 3, 3),
 (3583885, 2, 2),
 (3587444, 2, 0),
 (3594978, 1, 0),
 (3660549, 1, 1),
 (3663787, 1, 1),
 (3726207, 1, 0),
 (3732065, 2, 1),
 (3741510, 1, 0),
 (3760126, 1, 0),
 (3760321, 2, 0),
 (3761267, 3, 0),
 (3800762, 1, 1),
 (3820145, 1, 0),
 (3826572, 2, 1),
 (3862442, 1, 1),
 (3901536, 1, 0),
 (3955583, 1, 0),
 (3973456, 1, 0),
 (4044448, 1, 0),
 (4055061, 1, 1),
 (4093879, 2, 2),
 (4096884, 1, 0),
 (4111837, 1, 1),
 (4117939, 1, 0),
 (4122117, 2, 1),
 (4133985, 1, 1),
 (4151347, 1, 1),
 (4163270, 1, 1),
 (4170287, 1, 1),
 (4258929, 1, 0),
 (4265458, 1, 0),
 (4273771, 2, 0),
 (4277953, 1, 1),
 (4374239, 1, 0),
 (4374990, 1, 0),
 (4375419, 2, 0),
 (4384708, 1, 1),
 (4396322, 1, 0),
 (4410396, 3, 1),
 (4416727, 2, 2),
 (4422081, 1, 1),
 (4432556, 1, 1),
 (4473132, 1, 1),
 (4485941, 1, 0),
 (4515065, 1, 1),
 (4542844, 2, 1),
 (4559198, 1, 1),
 (4564845, 1, 0),
 (4583118, 1, 1),
 (4601217, 1, 0),
 (4613231, 1, 1),
 (4635499, 1, 0),
 (4664910, 1, 0),
 (4666435, 1, 1),
 (4685658, 2, 2),
 (4726984, 1, 1),
 (4730169, 3, 2),
 (4732202, 1, 0),
 (4744493, 2, 0),
 (4746017, 5, 3),
 (4778491, 1, 0),
 (4830087, 1, 1),
 (4831324, 2, 2),
 (4890019, 1, 0),
 (4908239, 1, 0),
 (4931358, 1, 1),
 (4931954, 3, 1),
 (4954557, 3, 3),
 (5013252, 1, 0),
 (5031107, 1, 1),
 (5043653, 1, 0),
 (5045885, 1, 0),
 (5069193, 1, 0),
 (5073607, 1, 1),
 (5114841, 1, 0),
 (5118573, 2, 1),
 (5143278, 2, 2),
 (5152423, 1, 0),
 (5170648, 2, 1),
 (5186445, 1, 1),
 (5186532, 1, 0),
 (5219251, 1, 1),
 (5225883, 2, 1),
 (5241489, 1, 0),
 (5248025, 1, 1),
 (5281021, 1, 1),
 (5294661, 1, 1),
 (5305357, 1, 1),
 (5307793, 1, 0),
 (5337083, 1, 1),
 (5359920, 4, 4),
 (5403642, 1, 0),
 (5418171, 1, 0),
 (5426135, 1, 1),
 (5464967, 1, 0),
 (5465349, 1, 1),
 (5473999, 1, 1),
 (5496399, 1, 0),
 (5518069, 1, 1),
 (5588245, 1, 0),
 (5593026, 1, 1),
 (5606814, 3, 3),
 (5616300, 1, 0),
 (5618431, 1, 0),
 (5636522, 1, 1),
 (5693307, 1, 1),
 (5717515, 2, 1),
 (5725252, 1, 1),
 (5736696, 1, 0),
 (5740745, 1, 1),
 (5741372, 4, 4),
 (5776128, 1, 0),
 (5787761, 1, 0),
 (5810156, 1, 0),
 (5838495, 1, 0),
 (5841245, 1, 0),
 (5905171, 1, 0),
 (5913319, 1, 0),
 (5926161, 1, 1),
 (5950028, 1, 0),
 (5950717, 1, 1),
 (5953097, 1, 0),
 (5973231, 1, 0),
 (5975773, 1, 0),
 (5983324, 1, 0),
 (6014936, 3, 2),
 (6026083, 1, 0),
 (6034500, 1, 1),
 (6067084, 1, 0),
 (6098678, 1, 0),
 (6109145, 4, 1),
 (6112680, 2, 1),
 (6122968, 1, 1),
 (6135870, 2, 0),
 (6140624, 1, 1),
 (6156795, 1, 0),
 (6160212, 1, 0),
 (6190957, 1, 0),
 (6197406, 1, 1),
 (6222507, 1, 1),
 (6228570, 1, 1),
 (6237831, 2, 2),
 (6248754, 1, 1),
 (6314915, 1, 1),
 (6321278, 7, 5),
 (6379855, 1, 1),
 (6385310, 1, 1),
 (6387609, 1, 1),
 (6462004, 3, 3),
 (6482128, 1, 1),
 (6522917, 1, 0),
 (6536511, 1, 1),
 (6542600, 1, 1),
 (6563375, 1, 1),
 (6565230, 1, 1),
 (6595177, 1, 0),
 (6603469, 1, 0),
 (6630312, 1, 1),
 (6657622, 1, 0),
 (6676799, 1, 1),
 (6682099, 4, 0),
 (6693168, 1, 0),
 (6733169, 1, 0),
 (6774676, 1, 1),
 (6796095, 2, 0),
 (6806407, 1, 1),
 (6819794, 1, 1),
 (6820867, 1, 1),
 (6859694, 1, 0),
 (6868935, 2, 2),
 (6897425, 1, 0),
 (6916851, 1, 0),
 (6926320, 1, 0),
 (6952936, 1, 1),
 (6960140, 1, 1),
 (6963561, 1, 1),
 (6976500, 17, 1),
 (6980328, 1, 0),
 (6982023, 1, 1),
 (7003972, 1, 1),
 (7004461, 1, 0),
 (7010853, 1, 0),
 (7029080, 1, 0),
 (7075855, 1, 0),
 (7082573, 1, 1),
 (7100336, 1, 0),
 (7105833, 2, 1),
 (7252719, 1, 1),
 (7269458, 1, 0),
 (7294772, 1, 1),
 (7322380, 1, 1),
 (7323530, 1, 0),
 (7335216, 1, 1),
 (7419807, 1, 1),
 (7445743, 3, 2),
 (7447066, 1, 0),
 (7450114, 2, 1),
 (7453274, 1, 1),
 (7464224, 1, 1),
 (7470029, 2, 1),
 (7485095, 1, 0),
 (7500476, 1, 0),
 (7532702, 1, 0),
 (7546735, 1, 0),
 (7583448, 1, 1),
 (7608273, 2, 1),
 (7629857, 2, 0),
 (7677104, 1, 1),
 (7685198, 1, 1),
 (7690883, 1, 0),
 (7833263, 2, 0),
 (7835017, 1, 1),
 (7845032, 1, 0),
 (7848710, 1, 0),
 (7855988, 2, 1),
 (7892601, 1, 0),
 (7907979, 2, 2),
 (7920562, 1, 1),
 (7935512, 1, 0),
 (7937065, 3, 0),
 (7957734, 1, 1),
 (7978993, 1, 1),
 (8079097, 1, 1),
 (8094616, 2, 0),
 (8124458, 1, 1),
 (8138792, 1, 1),
 (8154636, 1, 0),
 (8197340, 1, 0),
 (8210327, 1, 1),
 (8293095, 1, 0),
 (8297370, 4, 2),
 (8309708, 1, 0),
 (8314151, 1, 1),
 (8364178, 1, 1),
 (8367144, 1, 0),
 (8368817, 1, 1),
 (8376698, 1, 1),
 (8385492, 1, 1),
 (8408592, 1, 0),
 (8447701, 1, 0),
 (8463320, 1, 1),
 (8481161, 1, 1),
 (8488271, 1, 0),
 (8515987, 1, 1),
 (8584621, 4, 1),
 (8669324, 2, 1),
 (8686688, 3, 1),
 (8695017, 8, 2),
 (8719728, 1, 0),
 (8740602, 1, 0),
 (8756119, 1, 1),
 (8772810, 1, 0),
 (8814067, 2, 0),
 (8818987, 2, 1),
 (8867609, 1, 0),
 (8891729, 3, 1),
 (8926700, 1, 1),
 (8957027, 1, 0),
 (8984027, 1, 1),
 (9021016, 2, 1),
 (9035036, 1, 0),
 (9128777, 1, 1),
 (9167300, 2, 1),
 (9178141, 1, 1),
 (9186598, 1, 1),
 (9187846, 1, 1),
 (9219024, 1, 0),
 (9293563, 2, 0),
 (9326632, 1, 1),
 (9339942, 1, 1),
 (9359158, 1, 0),
 (9424587, 1, 0),
 (9443980, 1, 1),
 (9486332, 1, 1),
 (9501567, 1, 0),
 (9587975, 2, 2),
 (9593327, 1, 1),
 (9614645, 1, 1),
 (9635500, 1, 0),
 (9654390, 1, 0),
 (9691002, 1, 0),
 (9711089, 1, 0),
 (9716567, 1, 1),
 (9758071, 1, 1),
 (9760919, 1, 0),
 (9779895, 2, 1),
 (9869382, 1, 0),
 (9919748, 1, 0),
 (9953636, 1, 1),
 (9982130, 2, 1),
 (9995033, 2, 1),
 (10007001, 1, 1),
 (10007719, 1, 0),
 (10056466, 1, 1),
 (10085996, 1, 0),
 (10091900, 1, 0),
 (10099138, 1, 0),
 (10118048, 1, 1),
 (10149085, 1, 0),
 (10178687, 2, 2),
 (10191661, 1, 0),
 (10215560, 1, 0),
 (10220734, 1, 1),
 (10228696, 1, 1),
 (10255167, 1, 0),
 (10291457, 1, 0),
 (10334377, 1, 1),
 (10381898, 1, 0),
 (10421807, 1, 1),
 (10531001, 1, 0),
 (10566513, 1, 1),
 (10629796, 1, 0),
 (10665169, 1, 0),
 (10666436, 3, 0),
 (10673962, 3, 2),
 (10681712, 1, 1),
 (10723488, 1, 0),
 (10724845, 1, 1),
 (10734605, 1, 0),
 (10738041, 1, 1),
 (10785057, 1, 1),
 (10785252, 1, 0),
 (10801960, 1, 0),
 (10894838, 1, 0),
 (10934098, 1, 0),
 (11058160, 1, 0),
 (11098460, 1, 1),
 (11111182, 1, 1),
 (11161404, 1, 0),
 (11165382, 1, 1),
 (11177639, 1, 1),
 (11244222, 1, 0),
 (11280102, 1, 0),
 (11285787, 3, 3),
 (11326421, 1, 0),
 (11349879, 1, 1),
 (11403105, 1, 0),
 (11439607, 1, 1),
 (11502484, 1, 1),
 (11536024, 1, 0),
 (11552018, 1, 0),
 (11557376, 2, 1),
 (11567957, 1, 0),
 (11580604, 1, 0),
 (11705577, 1, 0),
 (11712068, 1, 1),
 (11743142, 2, 1),
 (11776993, 1, 1),
 (11783637, 1, 1),
 (11818036, 1, 0),
 (11825076, 1, 1),
 (11839473, 1, 1),
 (12050013, 2, 0),
 (12065619, 1, 0),
 (12066004, 1, 0),
 (12098222, 1, 0),
 (12126321, 1, 0),
 (12144774, 1, 0),
 (12193336, 4, 3),
 (12199615, 1, 0),
 (12207814, 1, 0),
 (12273004, 1, 0),
 (12277487, 1, 0),
 (12354757, 1, 0),
 (12374104, 1, 0),
 (12398028, 1, 1),
 (12413616, 1, 1),
 (12427476, 1, 1),
 (12436618, 1, 1),
 (12438628, 1, 0),
 (12438810, 1, 1),
 (12471795, 1, 1),
 (12515797, 1, 0),
 (12520363, 1, 1),
 (12527281, 1, 1),
 (12537953, 1, 1),
 (12651062, 1, 0),
 (12674095, 1, 0),
 (12676429, 1, 1),
 (12715314, 1, 0),
 (12727173, 1, 0),
 (12736670, 1, 0),
 (12765477, 1, 0),
 (12797065, 1, 0),
 (12801384, 1, 1),
 (12805613, 1, 0),
 (12820782, 1, 0),
 (12961493, 1, 0),
 (13059812, 1, 1),
 (13114648, 1, 1),
 (13184758, 1, 1),
 (13208624, 1, 0),
 (13299169, 2, 1),
 (13331543, 1, 0),
 (13367330, 1, 1),
 (13394932, 1, 0),
 (13412531, 1, 0),
 (13465864, 1, 1),
 (13484682, 1, 0),
 (13516791, 1, 0),
 (13554180, 1, 0),
 (13747431, 1, 0),
 (13766540, 1, 0),
 (13775979, 1, 1),
 (13800000, 1, 0),
 (13801487, 2, 1),
 (13814078, 1, 0),
 (13956363, 1, 1),
 (13968803, 1, 1),
 (13972390, 1, 0),
 (14118784, 1, 1),
 (14128639, 1, 0),
 (14129230, 1, 0),
 (14202027, 2, 0),
 (14265552, 1, 1),
 (14298031, 1, 1),
 (14318143, 1, 1),
 (14392111, 1, 0),
 (14448916, 1, 1),
 (14452577, 3, 3),
 (14464785, 1, 0),
 (14475230, 1, 1),
 (14549423, 1, 1),
 (14563470, 1, 0),
 (14629004, 1, 1),
 (14773790, 1, 0),
 (14775041, 2, 2),
 (14834600, 1, 1),
 (14838492, 1, 0),
 (14848335, 1, 1),
 (14873362, 1, 0),
 (14893570, 3, 1),
 (14929669, 1, 1),
 (14935515, 1, 0),
 (14973650, 1, 1),
 (15075807, 1, 1),
 (15105586, 1, 0),
 (15128008, 1, 0),
 (15161249, 1, 0),
 (15235417, 1, 1),
 (15277667, 1, 0),
 (15297988, 1, 0),
 (15336017, 1, 0),
 (15336960, 1, 1),
 (15381772, 1, 0),
 (15424172, 1, 0),
 (15426036, 1, 0),
 (15437715, 1, 0),
 (15441600, 1, 1),
 (15479670, 1, 1),
 (15545027, 1, 0),
 (15600714, 1, 0),
 (15621709, 3, 1),
 (15653990, 1, 0),
 (15664185, 1, 0),
 (15698394, 1, 0),
 (15751584, 1, 0),
 (15840752, 1, 0),
 (15844115, 1, 1),
 (15969725, 1, 1),
 (15981196, 1, 0),
 (16007407, 1, 0),
 (16163669, 1, 0),
 (16230103, 1, 0),
 (16261231, 1, 1),
 (16359540, 1, 1),
 (16378376, 1, 1),
 (16388759, 1, 1),
 (16436530, 1, 1),
 (16511888, 1, 0),
 (16526675, 1, 0),
 (16542022, 1, 0),
 (16553302, 1, 1),
 (16623861, 1, 0),
 (16667017, 1, 1),
 (16681201, 1, 0),
 (16788790, 1, 0),
 (16791752, 1, 1),
 (16910078, 1, 0),
 (16982836, 1, 1),
 (17007446, 1, 0),
 (17242210, 1, 0),
 (17254657, 1, 0),
 (17305710, 1, 1),
 (17308877, 1, 0),
 (17401068, 1, 0),
 (17434906, 1, 1),
 (17507010, 1, 0),
 (17516875, 1, 0),
 (17546811, 1, 0),
 (17567070, 1, 1),
 (17589184, 1, 0),
 (17614154, 1, 0),
 (17788613, 1, 0),
 (17856637, 1, 0),
 (17866881, 1, 0),
 (17868345, 1, 1),
 (17886995, 1, 1),
 (18074261, 1, 1),
 (18114903, 1, 1),
 (18148717, 1, 1),
 (18161920, 1, 0),
 (18200186, 1, 1),
 (18416943, 1, 0),
 (18443540, 1, 1),
 (18465426, 1, 0),
 (18472208, 1, 1),
 (18562516, 1, 0),
 (18653275, 1, 1),
 (18654482, 1, 0),
 (18661631, 1, 0),
 (18673506, 1, 1),
 (18873885, 1, 0),
 (18910872, 1, 1),
 (19074922, 1, 0),
 (19093790, 1, 0),
 (19226090, 1, 0),
 (19283523, 1, 1),
 (19371921, 1, 1),
 (19533590, 1, 0),
 (19761486, 1, 1),
 (19827602, 1, 0),
 (19947526, 3, 1),
 (20183237, 1, 1),
 (20255650, 1, 0),
 (20303761, 1, 0),
 (20714827, 1, 1),
 (20896013, 1, 0),
 (20911589, 1, 1),
 (21001297, 1, 0),
 (21020157, 1, 0),
 (21033709, 1, 0),
 (21091362, 1, 1),
 (21243969, 1, 0),
 (21419090, 1, 0),
 (21454790, 1, 0),
 (21528558, 2, 0),
 (21680634, 1, 1),
 (21714803, 1, 0),
 (21765528, 5, 4),
 (21767716, 1, 0),
 (21785437, 1, 0),
 (21898692, 1, 0),
 (21998917, 1, 0),
 (22016443, 1, 0),
 (22109702, 1, 0),
 (22411043, 1, 0),
 (22544124, 1, 1),
 (22707380, 1, 1),
 (22745275, 1, 0),
 (22899980, 1, 0),
 (23030804, 1, 0),
 (23307207, 1, 0),
 (23321306, 1, 1),
 (23370428, 1, 0),
 (23465329, 2, 1),
 (23486256, 1, 1),
 (23624132, 1, 1),
 (23671717, 1, 1),
 (23813152, 2, 2),
 (23925121, 1, 1),
 (23951108, 1, 1),
 (23979082, 1, 1),
 (23992949, 1, 0),
 (24020549, 1, 1),
 (24180136, 1, 0),
 (24411536, 1, 0),
 (24437144, 1, 0),
 (24484016, 1, 0),
 (24612075, 1, 0),
 (24791171, 1, 1),
 (24844656, 1, 0),
 (24860439, 1, 0),
 (24899965, 1, 0)]

<p>2. For dates between '2006-03-04' and '2006-03-07', find the number of queries. Your result should be of the form (date, num_queries). Remember, some queries could have occurred at the same time! [335, 400, 348, 369]</p>

In [49]:
%%sql
select date, count(s.query) as num_queries
from searches_fact as s natural join dates_dim as d
where d.date between '2006-03-04' and '2006-03-07'
group by d.date

Done.

[(u'2006-03-04', 335),
 (u'2006-03-05', 400),
 (u'2006-03-06', 348),
 (u'2006-03-07', 369)]

<p>3. Are older people less effective at making a good search? Get the number of queries that did not return a click_url from users 50 or older who don't live in Oldsville. [2430 ]</p>

In [50]:
%%sql
select count(u.user_id) as num_queries
from users_dim as u natural join searches_fact as s
where u.age >= 50 and u.city <> 'Oldsville' and s.click_url is NULL;

Done.

[(2430,)]

<p>4. Super-Bonus! It would be interesting to see if the average queries per hour is different between days during the week and days during the weekend. Do people make more searches during the weekend? Do they make more at night? Write a query that computes the number of queries per hour, averaged over the weekdays and over the weekends. The result should have rows and columns like this:</p>

<table>
<tr>
    <th>hour</th>
    <th>avg_weekday_queries</th>
    <th>avg_weekend_queries</th>
</tr>
<tr>
    <td>0</td>
    <td>11.89</td>
    <td>10.69</td>
</tr>
<tr>
    <td>1</td>
    <td>7.58</td>
    <td>9.27</td>
</tr>
<tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>
</tr>
</table>

<p>avg_weekday_queries contains the number of queries per hour, averaged over all weekdays (the is_weekend field in dates_dim will be helpful), and avg_weekend_queries contains the number of queries per hour, averaged over all weekend days.</p>
<p>Hint: Break it apart into two queries (one for the weekend, one for the weekday) and join them together at the end.
</p>

In [51]:
%%sql
select tab1.hour, avg_weekday_queries, avg_weekend_queries
from
    (select d.hour, count(s.query)/5.0 as avg_weekday_queries
     from searches_fact as s natural join dates_dim as d
     where d.is_weekend = 0
     group by d.hour) as tab1,
    (select d.hour, count(s.query)/2.0 as avg_weekend_queries
     from searches_fact as s natural join dates_dim as d
     where d.is_weekend = 1
     group by d.hour) as tab2
where tab1.hour = tab2.hour

Done.

[(0, 157.0, 139.0),
 (1, 98.6, 120.5),
 (2, 52.4, 59.5),
 (3, 40.4, 43.0),
 (4, 30.8, 31.0),
 (5, 31.4, 24.0),
 (6, 39.8, 43.0),
 (7, 63.8, 65.5),
 (8, 104.8, 108.5),
 (9, 141.6, 161.5),
 (10, 156.2, 184.0),
 (11, 178.2, 210.5),
 (12, 182.2, 200.5),
 (13, 188.0, 235.0),
 (14, 199.2, 241.0),
 (15, 208.2, 218.0),
 (16, 236.6, 244.0),
 (17, 251.6, 238.0),
 (18, 274.6, 251.5),
 (19, 295.4, 284.0),
 (20, 299.6, 263.5),
 (21, 284.4, 268.0),
 (22, 277.0, 255.0),
 (23, 209.4, 206.0)]